.dashboard h1 {
  padding-left: 40px;
}

.dashboard #content {
  height: 100%;
  width: 100%;
  padding: 0;
}

#content-related {
  display: inline-block;
  width: 260px;
  height: 100%;
  margin-right: 0;
}

#content-related .actionlist li {
  padding-left: 0;
}