#changelist-filter {
  position: relative;
  top: -84px;
  margin-bottom: -55px;
  min-height: 400px;
}

#changelist-filter h2 {
  padding: 16px;
  margin-top: 0;
  margin-bottom: 16px;
  border-bottom: 1px solid #eaeaea;
  text-transform: initial;
  font-size: 18px;
  font-weight: 400;
  color: #333;
}